[Desktop Entry]
Comment=screencast
Exec=vokoscreenNG
Icon=vokoscreenNG
Name=VokoscreenNG
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
Keywords=Audio;Video;Recorder;Screencast;
